* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	background: #10041f; 
	color: #fff;
	text-shadow: 0px 0 3px rgba(0, 0, 0, 0.33);
}

@keyframes Pulse { /* "Pulse" animation keyframes */
	0% {
		box-shadow: 0 0 8px 2px rgba(171, 104, 252, 0.45);
	}
	50% {
		box-shadow: 0 0 22px 3px rgba(214, 181, 255, 0.48);
	}
	100% {
		box-shadow: 0 0 8px 2px rgba(171, 104, 252, 0.45);
	}
}

.navbar {
	display: flex;
	text-align: center;
	justify-content: space-between;
	position: fixed;
	padding: 0rem 1rem;
	background: #ba83fc;
	color: #fff;
	box-sizing: border-box;
	top: 0; left: 0; right: 0;
	z-index: 1000;
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 4rem;
	margin: 1rem 1.9rem 0rem;
}

.nav-links a {
	font-size: 1.35rem;
	color: #fff;
	text-decoration: none;
}

.nav-links li {	
	color: #fff;
	font-weight: 300;
	transition: transform 0.2s ease, text-decoration 0.2s ease, font-weight 0.1s ease;
}

.nav-links li:hover {
	transform: scale(1.15);
	text-decoration: underline 1.5px;
	text-underline-position: under;
	font-weight: 400;
}

.nav-logo img {
	margin: 0.4rem 0.2rem 0rem;
	height: 50px;
	width: 50px;
	transition: transform 0.1s ease, opacity 0.3s ease;
}

.nav-logo img:hover {
	transform: scale(1.2);
	opacity: 0.7;
}

.hero {
	margin: 6rem 2rem 4rem;
	text-align: center;
	background: url('assets/images/hero-bg.svg');
	background-size: 100% 100%;
}

.hero h1 {
	font-weight: 200;
	letter-spacing: -3px;
}

.hero-title {
	font-size: 3.4rem;
	padding: 1.6rem;
	text-shadow: #333 2px 0 14px;
}

.hero-subtitle {
	font-size: 1.9rem;
	font-weight: 300;
	margin: 1rem 0rem 0rem;
}

.hero-description {
	margin: 1rem 2rem 1rem;
	font-size: 1.2rem;
	font-weight: 100;
	text-align: center;
}

.hero-btn {
	margin: 3.5rem 0rem 6rem;
	background: #ab68fc;
	text-decoration: none;
	color: #fff;
	padding: 0.6rem;
	border-radius: 24px;
	font-size: 1.5rem;
	font-weight: 200;
	/* Se añade transition para animar el scale y la animación */
	transition: transform 0.3s ease, animation 0.3s ease;
}

.hero-btn:hover {
	transform: scale(1.1);
	animation: Pulse 1.7s infinite ease-in-out;
}

.hero-btn-div {
	display: inline-flex;
	transition: none;
}

.projects-title {
	text-align: center;
	font-size: 3rem;
	margin: 1rem 0rem 0.2rem;
	font-weight: 300;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.profile-picture {
	display: flex;
}

.profile-picture img {
	border-radius: 50%;
	width: 30rem;
	height: 30rem;
}

.projects p {
	margin-top: 0.5rem;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #fff;
	font-weight: 100;
	font-size: 1.2rem;
}

.project-description {
	display: grid;
	justify-self: start;
	text-align: center;
}

.project-iframe-container {
	display: grid;
	justify-self: center;
  position: relative;
  width: 35vw;
  height: 84vh;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  border: 4px solid #ba83fc;
  border-radius: 28px;
  overflow: hidden;
  box-shadow: 0 0 8px 2px rgba(171, 104, 252, 0.1);
  animation: Pulse 1.2s infinite ease-in-out;
}

/* Styling for the embedded iframe itself */
.project-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: cursor 0.3s ease;
	border-radius: 4px;
	border: none;
}

.project-iframe iframe {
	border-radius: 4px;
}

.project-iframe-container:hover {
  cursor: pointer;
}

.features {
	margin: 1rem 5.8rem 10rem;
}

.features h1 {
	text-align: center;
	font-size: 3rem;
	margin: 1rem 0rem 0.2rem;
	font-weight: 300;
}

.features h2 {
	text-align: center;
	font-size: 2.2rem;
	line-height: 0.6;
	margin-bottom: 2.8rem;
	font-weight: 200;
}

.features-grid {
	margin: 1rem 2.4rem 2rem;
	display: grid;
	gap: 5rem;
	text-align: center;
	grid-template-columns: repeat(3, 1fr);
}

.features-grid img {
	height: 7.2rem;
	width: 7.2rem;
	margin: 2.6rem 1rem 0.1rem;
	background: #ba83fc;
	padding: 1rem;
	border-radius: 30%;
	transition: transform 0.25s ease, margin 0.25s ease;
}

.features-grid img:hover {
	transform: scale(1.1);
	cursor: pointer;
	margin: 2.6rem 1rem 1.3rem;
	animation: Pulse 1s infinite ease-in-out;

}

.features-grid p {
	justify-self: center;
	align-self: center;
	margin: 0rem 4rem 0rem;
	font-weight: 100;
	font-size: 1.2rem;
	line-height: 1.6rem;
}

.about {
	display: grid;
	justify-items: center;
}

.about h1 {
	margin: 4rem 0rem 0.2rem;
	text-align: center;
	font-size: 3rem;
	font-weight: 300;
}

.about h2 {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 200;
}

.about p {
	font-size: 1.2rem;
	font-weight: 100;
}

.about-grid {
	display: grid;
	text-align: center;
	grid-template-columns: repeat(2, 1fr);
	width: 55%;
	gap: 3rem;
	margin: 1rem;
	padding: 1rem;
}

.about-intro {
	font-size: 1.1rem;
	margin: 1.2rem 11rem 2rem;
	line-height: 1.5;
}

.about-item {
	margin: 0rem;
	color: #fff;
	width: 100%;
	height: auto;
	background: #ba83fc;
	border-radius: 45px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 1.2rem 2.2rem;
	justify-self: center;
	transition: box-shadow 0.2s ease-in-out;
	text-shadow: 0px 0 10px rgba(0, 0, 0, 0.55);
}

.about-item:hover {
	box-shadow: 0px 0px 28px rgba(194, 143, 255, 0.9);
}

.about-img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	margin-bottom: 1rem;
}

.about-item h2 {
	font-size: 2.2rem;
	margin-bottom: 1.2rem;
	margin-top: 0.02rem;
	color: #fff;
	font-weight: 400;
	text-shadow: none;
}

.about-item p {
	font-size: 1.2rem;
	line-height: 1.5;
	color: #fff;
	font-weight: 200;
}

.about-item ul {
	text-align: left;
	margin: 1rem;
	list-style-type: disc;
}

.strong {
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: 300;
}

.about-item ul li {
	font-size: 1.2rem;
	font-weight: 200;
	color: #fff;
	line-height: 1.6;
}

.about-item img {
	height: 80px;
	width: 80px;
	margin-top: 1rem;
	margin-bottom: 0rem;
}

.arrow-wrapper {
  position: relative;
}

#arrow-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1000; 
  opacity: 1;
  transform: translate(0, 0); 
}

#arrow-line line {
  stroke: #c99cff;
  stroke-width: 2.2;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: drawLine 1.3s ease-out forwards;
}

#arrow-line circle {
  fill: #c99cff;
  transform: scale(0);
  animation: popCircle 0.6s ease-out forwards 1s;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes popCircle {
  0% { transform: scale(0); }
  60% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.contact-section {
	margin: 12rem 7rem 10rem;
	text-align: center;
}

.contact-section h1 {
	text-align: center;
	font-size: 2.6rem;
	margin: 1rem;
	font-weight: 300;
}

#contact-form {
	display: none;
	gap: 0.3rem;
	font-family: 'Roboto', sans-serif;
	background: #c99cff;
	position: relative;
	text-align: center;
	border-radius: 22px;
	border: none;
	width: 44vw;
	max-width: 600px;
	min-height: 800px;
	padding: 1.6rem;
	margin: 0.3rem auto;
	animation: Pulse 1.4s infinite ease-in-out;
}

#contact-form label {
	font-weight: 300;
}

#contact-form input {
	width: 100%;
	border-radius: 22px;
	font-size: 1.1rem;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	padding: 0.4rem;
}

#contact-form textarea {
	margin: 0;
	font-size: 1.1rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	padding: 0.4rem;
	resize: none;
	border-radius: 22px;
	border: 0;
	height: 40vh;
	width: 100%;
}

.btn-grid {
	text-align: center;
}

#contact-form button {
	border: 0;
	justify-self: center;
	border-radius: 22px;
	width: 100%;
	background: #1f0a39;
	color: #fff;
	padding: 0.5rem 2rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	font-weight: 100;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

#contact-form button:hover {
	transform: scale(1.2);
	opacity: 0.8;
	cursor: pointer;
}

#char-count {
	opacity: 0.7;
}

.contact-description h2 {
	text-align: center;
	font-size: 2.2rem;
	margin: 1rem;
	font-weight: 500;
}

.contact-description p {
	text-align: center;
	font-size: 1.2rem;
	margin: 1rem 0rem 3rem;
	font-weight: 200;
}

.contact-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	text-align: center;
	margin: 1rem;
	padding: 1rem;
}

.contact-btn {
	text-align: center;
}

.contact-btn img {
	margin-top: 1rem;
	height: 7.8rem;
	width: 7.8rem;
	transition: transform 0.2s ease-in-out, filter 0.33s ease-in-out;
}

.contact-btn img:hover {
	transform: scale(1.1);
	cursor: pointer;
	filter: drop-shadow(0px 0px 28px rgba(200, 138, 255, 0.65));
}

.footer {
	text-align: center;
	background: #ba83fc;
	color: #fff;
	justify-content: space-between;
}

.designed-by {
	padding: 0.4rem 0 0;
}

.footer p {
	line-height: 1.5;
	font-weight: 200;
	font-size: 1.2rem;
}

.social-media {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.social-media a {
	color: #1f0a39;
	font-size: 1.8rem;
	transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.social-media a:hover {
	color: #fff;
	transform: scale(1.2);
	opacity: 0.8;
}


/* Mobile responsiveness media queries*/
@media (max-width: 768px) {
	.navbar {
		display: flex;
		height: 2.3rem;
		width: 100vw;
		gap: 0;
	}

	.nav-links {
		flex-direction: row;
		gap: 0;
		margin: 0rem 1rem 0rem;
	}

	.nav-links ul, li, a {
		padding: 0;
		gap: 0;
		margin: 0;
		font-size: 0.2rem;
	}

	.nav-logo img {
		width: 2rem;
		height: 2rem;
		padding: 0;
		margin: 0.1rem;
	}

	.hero-title {
		margin-top: 0.6rem;
		font-size: 2.6rem;
		line-height: 1.2;
	}

	.hero-subtitle {
		font-size: 1.6rem;
	}

	.features {
		grid-template-columns: repeat(1, 1fr);
	}

	.features-grid {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 1rem;
	}

	.features-grid h2 {
		justify-self: center;
		margin-bottom: 0.6rem;
	}

	.features-grid p {
		margin-bottom: 1.4rem;
	}

	.about-grid {
		grid-template-columns: 1fr;
	}

	.about-intro {
		font-size: 1rem;
		margin: 1.2rem 3rem 5rem;
		line-height: 1.4;
		text-align: center;
	}

	.contact-section {
		grid-template-columns: repeat(1, 1fr);
		text-align: center;
		margin: 2rem 2rem 2rem;
	}

	#contact-form {
		text-align: center;
		margin: 0;
		padding: 1rem;
		width: auto;
	}

	#contact-form textarea {
		text-align: center;
		justify-self: center;
		width: 100%;
	}

	#contact-form input {
		text-align: center;
		justify-self: center;
		width: 100%;
	}

	#contact-form button {
		width: 100%;
	}
}

.google-form {
	width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 480px) { /* Small devices (Smartphones) */
	.hero-title {
		font-size: 2.2rem;
	}

	.hero-subtitle {
		font-size: 1.3rem;
	}

	.hero-btn {
		font-size: 1rem;
		padding: 0.6rem 1.2rem;
	}

.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.2rem;
  margin: 0rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  place-items: center;
}

.projects-title {
	text-align: center;
	font-size: 3rem;
	margin: 1rem 0rem 0.2rem;
	font-weight: 300;
}

.projects p {
	margin-top: 0.5rem;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #fff;
	font-weight: 100;
	font-size: 1.2rem;
}

.project-iframe-container {
  position: relative;
  width: 82vw;
  height: 68vh;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  border: 4px solid #ba83fc;
  border-radius: 28px;
  overflow: hidden;
  box-shadow: 0 0 8px 2px rgba(171, 104, 252, 0.1);
  animation: Pulse 1.2s infinite ease-in-out;
}

/* Styling for the embedded iframe itself */
.project-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: cursor 0.3s ease;
	border-radius: 4px;
	border: none;
}

.project-iframe iframe {
	border-radius: 4px;
}

.project-iframe-container:hover {
  cursor: pointer;
}

	.features {
		margin: 0rem;
	}

	.features-grid img {
		height: 100px;
		width: 100px;
	}

	.about {
		margin: 0rem;
	}

	.about-grid {
		gap: 1.1rem;
	}

	.about-item {
		width: 70vw;
		height: auto;
	}

	.footer p {
		font-size: 1rem;
	}
}

@media (max-width: 1024px) { /* Medium devices (Tablet) */
	.nav-links {
		gap: 2rem;
	}

	.features-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.about-grid {
		grid-template-columns: 1fr;
	}

	.contact-grid {
		grid-template-columns: 1fr;
	}
}
